DB_URL=jdbc:mysql://localhost:3306/flowos?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=Chandu2912
APP_TOKEN_SECRET=replace-this-with-a-long-random-secret
APP_CORS_ORIGINS=http://localhost:5173
APP_OPEN_MEMBER_SIGNUP=false
JPA_DDL_AUTO=update
APP_UPLOAD_DIR=./data/uploads
MAX_FILE_SIZE=25MB
MAX_REQUEST_SIZE=25MB
